html
  head
    title
      | testing jade login template render
  body
  div
    form(action='/api/authenticate',method='post')
      input(id='email',type='text',value='',placeholder='@',name='email')
      input(id='password',type='password',value='',placeholder='',name='password')
      input(type='submit',value='Sign In',data-transition='fade', data-theme='c')
